body {
    width: 100%;
    color: #000000;
    margin-left: 50%;
    
}

.buttons1 {
    margin-left: 5%;
    margin-top: 2%;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
}

.buttons {
    margin: 10px;
    color: #000000;
    background: #c7cfd3;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
}


.table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5%;
    margin-right: 10%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
}



.fields {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 70px;
    margin-bottom: 0.7%;
}

.button2 {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 13%;
    margin-top: 2%;
    border: none;
}

.actions-container {
    display: flex;
    gap: 5px;
}


.edit-icon,
.delete-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.buttons-container {
    margin-left: 60px;
}

.items-title {
    margin-left: 70px;
}

.buttons:disabled {
    cursor: default;
}

.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons1:hover,
.buttons1:focus,
.buttons1:active,
.button2:hover,
.button2:focus,
.button2:active {
    outline: none;
}

.buttons1:hover,
.button2:hover {
    background: #72b5dcd3;
}

.Placed{
    background-color: white;
    color: lightgrey;
}
.Processed{
    background-color: white;
    color: green;
}
.details{
    background-color: white;
    color: black;
}
.close-button ,
.cancel-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #62b5dc; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #458cb2; 
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    max-height: 100vh; 
    overflow-y: auto;
  }
  .EditModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    transition: opacity 0.3s ease;
    max-height: 100vh; 
    overflow-y: auto;

  }
  
  .EditModal h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .EditModal label {
    display: block;
    margin-bottom: 5px;
  }
  
  .EditModal input,
  .EditModal select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: white;
    color: black;
  }
  
  .EditModal button {
    background-color: #62b5dc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
  }
  
  .EditModal button:hover {
    background-color: #458cb2;
  }
  .cancel-button{
    float: right;
  }
  .info-message,
.error-message {
    display: inline-flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.create label {
    margin-bottom: 2px;
    background-color: white;
}

.create input[type="date"],
.create input[type="number"],
.create select {
    margin-bottom: 2px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white ;
    border-radius: 4px;
    color: black;
}
.create input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 16px; 
    height: 16px;
    border: 1px solid #ccc; 
    border-radius: 3px; 
    outline: none; 
    background-color: white; 
    cursor: pointer; 

}

.create input[type="checkbox"]:checked {
    background-color: #62b5dc; 
}
.AddItemsModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 80%;
    max-height: 80vh; 
    overflow-y: auto;
    z-index: 9999;
}

.AddItemsModal h2 {
    margin-top: 0;
}

.AddItemsModal input[type="text"],
.create1 input[type="text"]{
    width: calc(100% - 110px);
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: black;
}

.AddItemsModal button,
.create button {
    background-color: #62b5dc;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    height: fit-content;
}

.AddItemsModal button:hover,
.create button :hover {
    background-color: #458cb2;
}

.list {
    overflow-y: auto;
}
.select-loc-title {
    margin-left: 27px;
}
#root {
    width: 100%;
    height: 90%;
  }

