body {
    width: 100%;
    color: #000000;
}

.buttons1 {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

.buttons {
    margin: 10px;
    color: #000000;
    background: #c7cfd3;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

.table, .table-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5%;
    margin-right: 10%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
}

.name-input,
.barcode-input,
.measurment-unit-input,
.purchase-price-input,
.selling-price-input,
.address-input,
.openingTime-input,
.status-input {
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    margin-left: 70px;
    background-color: transparent;
}
.address-input:focus { /* Dodali smo .address-input:focus */
    border-color: #007bff;
}

.location-id-input {
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 5%;
    margin-left: 5%;
    background-color: transparent;
    margin-right: 10px;
}

.name-input:focus,
.barcode-input:focus,
.measurment-unit-input:focus,
.purchase-price-input:focus,
.selling-price-input:focus,
.location-id-input:focus {
    border-color: #007bff;
}

.fields {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 70px;
    margin-bottom: 0.7%;
}

.button2 {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 13%;
    margin-top: 2%;
    border: none;
}

.actions-container {
    display: flex;
    gap: 5px;
}

.edit-icon,
.delete-icon,
.confirm-icon,
.close-icon,
.choose-icon,
.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.buttons-container {
    margin-left: 60px;
}

.items-title {
    margin-left: 70px;
}

.buttons:disabled {
    cursor: default;
}

.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons1:hover,
.buttons1:focus,
.buttons1:active,
.button2:hover,
.button2:focus,
.button2:active {
    outline: none;
}

.buttons1:hover,
.button2:hover {
    background: #72b5dcd3;
}

.name-input,
.barcode-input,
.measurment-unit-input,
.purchase-price-input,
.selling-price-input,
.location-id-input,
.address-input,
.openingTime-input,
.status-input {
    color: #000000;
}

.editable-cell {
    position: relative;
}

.editable-input {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}
.editable-input-loc {
    width: 30%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.editable-input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.info-message,
.error-message {
    display: inline-flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.info-icon,
.error-icon {
    width: 20px;
    height: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Promena: Poravnavamo vertikalno */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 600px;
    overflow-y: auto;
    width: 80%; /* Promena: Postavljamo širinu sadržaja modala */
    max-width: 600px; /* Promena: Postavljamo maksimalnu širinu sadržaja modala */
}


.close-modal-icon {
    position: absolute;
    top: 20px;
    right: 20px; /* Promena: Postavljamo dugme u gornji desni ugao sadržaja modala */
    z-index: 99999;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.list {
    overflow-y: auto;
}
.select-loc-title {
    margin-left: 27px;
}
