body {
  background-color: white;
  display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    width: 100%;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-areas:
    'sidebar main main main'
    'sidebar main main main';
  height: 105vh;
}

.content{
  width: max-content;
  margin-bottom: 70px;
  margin-left: 35%;
}
