#sidebar {
  grid-area: sidebar;
  height: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background-color: #fbfdff;
  border: 0.5px solid #50a4cb;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
  color: #62b5dc;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 13px;
}

.sidebar-list-item:hover {
  cursor: pointer;
  
}


.sidebar-list-item > a {
  text-decoration: none;
  color: #62b5dc;
}
.sidebar-list-item:hover > a {
  color: #1b4f6f; 
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;

  z-index: 12 !important;
}
