
.container{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:600px;
    background: #fff;
    padding-bottom: 30px;

    border: 2px solid whitesmoke;

}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
}

.text{
    color:#62b5dc;

    font-size: 48px;
    font-weight: 700;
}

.underline{
    width:61px;
    height:6px;

    background: #62b5dc;

    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.input{
    display:flex;
    align-items:center;
    margin:auto;
    width:480px;
    height:80px;

    background: whitesmoke;

    border-radius:6px;
}

.input img{
    margin: 0px 30px;
}



.submit-container{
    display:flex;
    gap:30px;
    margin:60px auto;
}



.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width:220px;
    height:59px;
    color:#fff;

    background:#72b5dc;

    border-radius:50px;
    font-size:19px;
    font-weight:700;
    cursor:pointer;
}
.error-message {
    margin-top: 5%;
    display: flex;
    align-items: center;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
}

.error-icon {
    margin-right: 10px;
    width: 5%;
    height: 5%;
}

.info-message {
    margin-top: 5%;
    display: flex;
    align-items: center;
    border: 1px solid #c6cff5;
    color: #301c72;
    padding: 10px;
    border-radius: 5px;
}

.info-icon {
    margin-right: 10px;
    width: 5%;
    height: 5%;
}
.pin-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pin-input-field {
    padding: 5px;
    height: 35px;
    width: 100px;
    background: whitesmoke;
    border-radius:6px;
    border:none;
    outline:none;
    color:#363535;
    font-size:15px;
}
.input input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:#363535;
    font-size:19px;
}
.submit-pin {
    color:#fff;
    background:#72b5dc;
    border-radius:50px;
    font-size:15px;
    font-weight:700;
    margin-top: 10px;
}
.resend-pin-button {
    color:#fff;
    background:#721c24;
    border-radius:50px;
    font-size:15px;
    font-weight:700;
    margin-left: 10px;

}

.admin{
    display: flex;
    justify-content: center;
    margin: 0;
    position:absolute;
    top:92%;
    left:50%;
    transform:translate(-50%,-50%);
}

.admin span{
    color: #72b5dc;
    cursor:pointer;
    font-size: 18px;
}