
.table {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 5%;
  margin-right: 10%;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border-bottom: 1px solid #ccc;
  padding: 4px 8px;
  text-align: center;
}