body {
    width: 100%;
    color: #000000;
}

.buttons1 {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

.buttons {
    margin: 10px;
    color: #000000;
    background: #c7cfd3;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

.table {
    margin-top: 20px;
    margin: 5%;
    margin-right: 10%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
}

.number-input
{
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    margin-left: 5%;
    background-color: transparent;
}

.number-input:focus
 {
    border-color: #007bff;
}

.fields {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 70px;
    margin-bottom: 0.7%;
}

.button2 {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 13%;
    margin-top: 2%;
    border: none;
}

.actions-container {
    display: flex;
    gap: 5px;
}

.close-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.buttons-container {
    margin-left: 60px;
}

.users-title {
    margin-left: 70px;
}

.buttons:disabled {
    cursor: default;
}

.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons1:hover,
.buttons1:focus,
.buttons1:active,
.button2:hover,
.button2:focus,
.button2:active {
    outline: none;
}

.buttons1:hover,
.button2:hover {
    background: #72b5dcd3;
}

.number-input
{
    color: #000000;
}

.editable-cell {
    position: relative;
}

.editable-input {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.editable-input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.info-message,
.error-message {
    display: inline-flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.info-icon,
.error-icon {
    width: 20px;
    height: 20px;
}